html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: "Inconsolata";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: "Inconsolata";
}

@font-face {
	font-family: 'Inconsolata';
	src: url(./assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
	font-family: 'Sacramento';
	src: url(./assets/fonts/Sacramento-Regular.ttf);
}